<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Grouping">
  <test name="Test">
  <groups>
  <define name="all">
  <include name="automation"></include>
  <include name="automation1"></include>
  </define>
  <run>
  <include name="all"></include>
  </run>
  </groups>
    <classes>
      <class name="TestNg.BasicsTest"/>
      <class name="TestNg.BasicTest"/>
      <class name="TestNg.LoginTest"/>
      <class name="TestNg.LoginTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Grouping -->
